<h2> <b>Jeopardy </b></h2>
<h4> <b> Category: {{category1.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category1list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category2.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category2list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}}
    </li>
</ul>
<h4> <b> Category: {{category3.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category3list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category4.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category4list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category5.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category5list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category6.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category6list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<hr>
<h2> <b> Double Jeopardy </b> </h2>
<h4> <b> Category: {{category7.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category7list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category8.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category8list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category9.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category9list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category10.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category10list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category11.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category11list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<h4> <b> Category: {{category12.category}} </b></h4>
<ul>
    <li ng-repeat="clue in category12list">
        <b> Value: </b> {{clue.value}} - <b> Question: </b> {{clue.question}} - <b>Answer:</b> {{clue.answer}} 
    </li>
</ul>
<hr>
<h2> <b> Final Jeopardy </b> </h2>
<h4> <b> Category: {{category13.category}} </b></h4>
<ul>
     <li>
        <b> Value: </b> Player Determined - <b> Question: </b> {{category13list[4].question}} - <b>Answer:</b> {{category13list[4].answer}}
    </li>
</ul>